<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookshelf">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".features.bookedit.EditBookActivity" />
        <activity android:name=".features.bookchallenge.BookChallengeFragment" />
        <activity android:name=".features.bookabout.AboutBookActivity" />
        <activity android:name=".features.bookssearch.SearchFragment" />
        <activity android:name=".features.listofbooks.ListOfBooksFragment" />
        <activity android:name=".features.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
